@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    font-size: xx-large;
  }
  h3 {
    font-size: x-large;
  }
  .container {
    margin: 0 auto;
    padding: 0 12px;
  }
}
@layer components {
  /* section title start */
  .section-title {
    @apply text-center;
  }
  .section-title h2 {
    @apply text-[32px] font-semibold relative mb-5 pb-5  after:absolute after:w-[50px] after:h-[3px] after:bg-primary after:left-0 after:top-14 after:bottom-0 after:right-0 after:m-auto after:block;
  }
  .section-title p {
    @apply text-[#6f6f6f];
  }
  /* section title end */
  /* clients logo start */
  .clients-logo {
    @apply mx-auto lg:m-0;
  }

  .clients-logo img {
    @apply w-[90px] cursor-pointer transition-transform hover:scale-125;
  }
  /* clients logo end */
  /*stats start */

  .stats-item {
    @apply flex items-center border-b-[1px] border-b-[#e4e4e4] pb-5;
  }
  .stats-item h2 {
    @apply font-bold text-[40px] text-primary;
  }
  /*stats end */
  /* services section start */
  header {
    z-index: 999;
  }
  .services-item {
    @apply relative bg-white p-10 rounded-lg hover:shadow-lg cursor-pointer  transition-all;
  }
  .services-item h3 {
    @apply font-bold mb-4 pb-2 text-[22px] border-b-4 border-b-[#eeeeee] inline-block;
  }
  .services-item a {
    @apply mt-[15px] inline-block text-primary;
  }
  .services-item .icon {
    @apply text-[#111] h-12 w-12 relative mb-12 z-10 after:content-[""] after:absolute after:left-[18px] after:bottom-[1px] after:w-full after:h-full after:rounded-full after:bg-[#eee] after:-z-10 after:transition;
  }

  .services-item:hover h3 {
    @apply border-primary transition;
  }
  .services-item:hover .icon::after {
    background-color: #008374;
  }
  /* services section end */
  /* cta section start */
  .cta-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/cta-bg.jpg") center center;
    background-position: center center;
    background-size: cover;
    padding: 100px 60px;
    border-radius: 15px;
    overflow: hidden;
  }
  .icon-container {
    @apply relative;
  }
  .play-btn {
    @apply w-[94px] h-[94px] rounded-full block absolute overflow-hidden;

    background: radial-gradient(#008374 50%, rgba(0, 131, 116, 0.4) 52%);

    left: calc(50% - 47px);
    top: calc(50% - 47px);
  }
  .play-btn i {
    font-size: 60px;
  }
  .play-btn:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 1.5s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(0, 131, 116, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  .play-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms;
  }

  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }

    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

  /* cta section end */
  /* testimonial section start */
  .testimonial-item {
    @apply bg-white p-8 rounded-xl;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .testimonial-item .author-img-bio {
    @apply flex;
  }
  .testimonial-item .author-img-bio img {
    @apply w-[94px] h-[94px] rounded-full mr-5;
  }
  .testimonial-item .author-img-bio .stars-and-bio h4 {
    @apply text-[19px] font-bold;
  }
  .testimonial-item .author-img-bio .stars-and-bio span {
    @apply text-[14px] mt-1 inline-block;
  }
  .testimonial-item .author-img-bio img {
    @apply w-[94px] h-[94px] rounded-full;
  }
  .testimonial-item .author-img-bio ul {
    @apply flex mt-[6px];
  }
  .testimonial-item .author-img-bio ul li {
    @apply ml-[3px] text-[#ffc107];
  }
  .testimonial-item .description {
    @apply mt-4;
  }
  .testimonial-item .description p {
    @apply italic text-base;
  }
  .testimonial-item .left-icon {
    @apply inline-block text-2xl mr-[10px] text-primary;
  }
  .testimonial-item .right-icon {
    @apply inline-block text-2xl ml-[10px] text-primary rotate-180;
  }
  /* testimonial section end */
  /* team section start */
  .team-member {
    @apply bg-white p-5 rounded-[10px];
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .team-member .member-bio ul li a {
    @apply text-[#a2a2a2] border-[1px] border-[#a2a2a2] inline-block h-10 w-10 rounded-full text-center transition-all hover:border-primary hover:text-primary;
    line-height: 40px;
  }
  .team-member .member-bio ul li i {
    @apply inline-block text-[17px];
  }

  /* team section end */
}

@layer utilities {
  .icon-box {
    @apply bg-[#008d7d] py-16 px-8 text-white rounded-lg shadow-md text-center cursor-pointer;
  }
  .icon {
    @apply text-5xl text-secondry;
  }
  .title {
    @apply text-2xl font-bold mt-5;
  }
  /* Pricing items section start */
  .pricing-item {
    @apply bg-white py-[60px] px-[40px] rounded-2xl;

    box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
  }
  .pricing-item .icon {
    @apply bg-primary text-white h-[70px] w-[70px] rounded-full flex justify-center items-center my-8 mx-auto text-[26px]  z-[9999] transition-all  before:content-[""] before:absolute before:h-[86px] before:w-[86px] before:rounded-full before:bg-[#87c1bb]  before:-z-[1];

    transform-style: preserve-3d;
  }
  .pricing-item .icon::before {
    transform: translateZ(-1px);
  }
  .pricing-item .icon::after {
    content: "";
    position: absolute;
    height: 102px;
    width: 102px;
    background-color: #d2eeeb;
    border-radius: 100%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    transform: translateZ(-2px);
  }
  .pricing-item ul li i {
    @apply inline-block text-2xl mr-1;
  }
  .pricing-item ul li i[class*="bi-check"] {
    @apply text-[#059652];
  }

  /* Pricing items section end */
  /* Blog section start */
  .blog-item {
    @apply bg-white cursor-pointer transition-all;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  .blog-item:hover a {
    @apply text-primary;
  }

  /* Blog section end */
  /* contact section start */
  .address-item {
    @apply flex bg-[#009282] p-5 rounded-[10px] transition-all;
  }
  .contact-icon {
    @apply mr-4 text-center;
  }
  .contact-icon i {
    @apply inline-block text-xl h-10 w-10 bg-[#ffffff33] rounded-full text-center leading-10 transition-all;
  }
  .address-item h4 {
    @apply text-xl mb-1 font-bold;
  }
  .address-item address,
  p {
    @apply text-[14px];
  }
  .address-item:hover .contact-icon i {
    @apply bg-white text-primary;
  }
  .contact-form input,
  textarea {
    @apply border border-[#ced4de] w-full p-3 text-[15px] rounded-md resize-none mb-6;
  }
  /* contact section end */
}
